/*----------------------------------------------------------------------*/
/*---------- wrap ----------*/
/*----------------------------------------------------------------------*/
#wrap {
    width: 100%;
    max-width: 1920px;
}
/*----------------------------------------------------------------------*/
/*---------- header ----------*/
/*----------------------------------------------------------------------*/
#header {
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: #fff;
    background-color: #333;
}
/*----------------------------------------------------------------------*/
/*---------- section ----------*/
/*----------------------------------------------------------------------*/
#section {
    width: 100%;
}
#section h2 {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
#section .colorBox {
    width: 600px;
    margin: 0 auto;
    background-color: aqua;
}
#section .colorBox li {
    width: 298px;
    height: 298px;
    line-height: 300px;
    background-color: bisque;
    border: 1px solid #fff;
    text-align: center;
    float: left;
}
#section .colorBtnArea {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    clear: both;
}
#section .colorBtn {
    width: 60px;
    height: 50px;
    border: none;
}


/*----------------------------------------------------------------------*/
/*---------- footer ----------*/
/*----------------------------------------------------------------------*/
#footer {
    width: 100%;
    height: 120px;
    line-height: 120px;
    text-align: center;
    color: #fff;
    background-color: #444;
    clear: both;
}
